h1 {
  background: violet;
  font-size: 1.75rem;
  text-align: center;
  padding: 18px 0;
  color: #6a3030;
  border-radius: 10px;
} @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  background: #E3F2FD;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
};

#get-weather {
  margin-top: 20px;
}
.forecast {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.forecast-item {
  flex-basis: 18%;
  color: #fff;
  padding: 18px 16px;
  list-style: none;
  width: calc(20% - 15px);
  background: #9DC8FB;
  border-radius: 50%;
  text-align: center;
}
button {
  padding: 10px 20px;
  background-color: #81bc83;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
  transition: 0.2s ease
}
